<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        table, th, td, tr{
            border: solid 2px purple;
            border-collapse: collapse;
            padding: 10px;
    }
    </style>
    <table>
    <tr>
        <Th>Nome</Th>
        <Th>Preço</Th>
        <Th>Quantidade</Th>
    </tr>

    {% for fruta in resultado%}
        <tr>
            <td>{{fruta.name}}</td>
            <td>{{fruta.preco}}</td>
            <td>{{fruta.quantidade}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>